In [283]:
# imports
import os
import pandas as pd

# constants
DATA_DIR = os.path.join('data','ad_placement')
train_path = os.path.join(DATA_DIR, 'census-income.csv')
test_path = os.path.join(DATA_DIR, 'census-income-test.csv')

with open(train_path, 'r') as train_file:
    df_train = pd.read_csv(train_file, header=None)
with open(test_path, 'r') as test_file:
    df_test = pd.read_csv(test_file, header=None)

In [284]:
list_var = [
    "age",
    "class_of_worker",
    "detailed_industry_recode",
    "detailed_occupation_recode",
    "education",
    "wage_per_hour",
    "enroll_in_edu_inst_last_wk",
    "marital_stat",
    "major_industry_code",
    "major_occupation_code",
    "race",
    "hispanic_origin",
    "sex",
    "member_of_a_labor_union",
    "reason_for_unemployment",
    "full_or_part_time_employment_stat",
    "capital_gains",
    "capital_losses",
    "dividends_from_stocks",
    "tax_filer_stat",
    "region_of_previous_residence",
    "state_of_previous_residence",
    "detailed_household_and_family_stat",
    "detailed_household_summary_in_household",
    "instance_weight",
    "migration_code_change_in_msa",
    "migration_code_change_in_reg",
    "migration_code_move_within_reg",
    "live_in_this_house_1_year_ago",
    "migration_prev_res_in_sunbelt",
    "num_persons_worked_for_employer",
    "family_members_under_18",
    "country_of_birth_father",
    "country_of_birth_mother",
    "country_of_birth_self",
    "citizenship",
    "own_business_or_self_employed",
    "fill_inc_questionnaire_for_veterans_admin",
    "veterans_benefits",
    "weeks_worked_in_year",
    "year",
    "income_bucket"
]

In [285]:
df_train.columns = list_var
df_test.columns = list_var

Y_train= df_train['income_bucket']
Y_test= df_test['income_bucket']

In [286]:
list_var_num = [
    "age",
    "wage_per_hour",
    "capital_gains",
    "capital_losses",
    "dividends_from_stocks",
    "num_persons_worked_for_employer",
    "weeks_worked_in_year"
]
list_var_cat =  [x for x in list_var if x not in list_var_num]

In [287]:
list_var_cat.remove("instance_weight")
list_var_cat.remove("income_bucket")
df_train=df_train.drop('instance_weight', 1)
df_test=df_test.drop('instance_weight', 1)
df_train=df_train.drop('income_bucket', 1)
df_test=df_test.drop('income_bucket', 1)

print df_train.shape
print df_test.shape
print len(list_var_cat)

(199523, 40)
(99762, 40)
33

In [288]:
import patsy
patsy_cat_formula = ""
for var in list_var_cat:
    if not patsy_cat_formula:
        patsy_cat_formula = var
    else:
        patsy_cat_formula = patsy_cat_formula + "+" + var

df_train_cat = patsy.dmatrix(patsy_cat_formula+"-1", data=df_train, return_type='dataframe')
df_test_cat = patsy.dmatrix(patsy_cat_formula+"-1", data=df_test, return_type='dataframe')

print df_train_cat.shape
print df_test_cat.shape

(199523, 374)
(99762, 373)

In [289]:
df_test_cat['detailed_household_and_family_stat[T. Grandchild <18 ever marr not in subfamily]']=0

In [290]:
print df_train_cat.shape
print df_test_cat.shape

(199523, 374)
(99762, 374)

In [291]:
df_train_model = pd.concat([df_train[list_var_num], df_train_cat], axis=1)
df_test_model = pd.concat([df_test[list_var_num], df_test_cat], axis=1)

In [292]:
print df_train_model.shape
print df_train.shape
print df_test_model.shape
print df_test.shape
#seems like df_test is missing a value in one of its categoric variables (376 = 375 + 1)

(199523, 381)
(199523, 40)
(99762, 381)
(99762, 40)

In [293]:
from sklearn import preprocessing

X_train = preprocessing.scale(df_train_model)
X_test = preprocessing.scale(df_test_model)
Y_train_bn = Y_train.replace(' - 50000.',0)
Y_train_bn = Y_train_bn.replace(' 50000+.',1)
Y_test_bn = Y_test.replace(' - 50000.',0)
Y_test_bn = Y_test_bn.replace(' 50000+.',1)

In [296]:
from sklearn import linear_model
logistic = linear_model.LogisticRegression(penalty='l1')

In [297]:
X_new = logistic.fit_transform(X_train,Y_train_bn)

/Users/dkh320/anaconda2/lib/python2.7/site-packages/sklearn/utils/__init__.py:93: DeprecationWarning: Function transform is deprecated; Support to use estimators as feature selectors will be removed in version 0.19. Use SelectFromModel instead.
  warnings.warn(msg, category=DeprecationWarning)

In [299]:
X_new.shape
#logisticsticstic.fit()

(199523, 342)

In [312]:
np.logspace(-4, 4, 5)

array([  1.00000000e-04,   1.00000000e-02,   1.00000000e+00,
         1.00000000e+02,   1.00000000e+04])

In [309]:
logistic.coef_[0] == 0.0

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True,  True, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False,  True,  True,  True, False, False, False, False, False,
        True,  True,  True,  True,  True, False, False, False, False,
       False, False, False, False,  True,  True,  True,  True,  True,
       False, False, False, False,  True, False, False, False,  True,
        True,  True,  True, False, False, False, False,  True, False,
       False,  True, False, False, False, False, False, False,  True,
        True,  True, False,  True, False, False, False, False,  True,
        True, False, False,  True, False, False,  True, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False,  True, False], dtype=bool)

In [234]:
Y_test_predict = logistic.predict(X_test)

In [235]:
from sklearn.metrics import accuracy_score, precision_score,recall_score,f1_score
from sklearn import cross_validation

In [236]:
ac_scores = cross_validation.cross_val_score(logistic, X_train, Y_train, cv=5, scoring='accuracy')
pr_scores = cross_validation.cross_val_score(logistic, X_train, Y_train_bn, cv=5, scoring='precision')
rc_scores = cross_validation.cross_val_score(logistic, X_train, Y_train_bn, cv=5, scoring='recall')
f1_scores = cross_validation.cross_val_score(logistic, X_train, Y_train_bn, cv=5, scoring='f1')

In [237]:
print ac_scores
print pr_scores
print rc_scores
print f1_scores

[ 0.95246329  0.9520862   0.9519597   0.95185946  0.95271151]
[ 0.71260997  0.71714066  0.7154973   0.71199389  0.72159518]
[ 0.39241017  0.37666532  0.37479806  0.37641357  0.38731826]
[ 0.5061182   0.49391212  0.49191625  0.49247028  0.50407359]

In [247]:
print accuracy_score(Y_test_bn,Y_test_predict)
print precision_score(Y_test_bn,Y_test_predict)
print recall_score(Y_test_bn,Y_test_predict)
print f1_score(Y_test_bn,Y_test_predict)

0.0633207032738
0.0620803179797
0.999838344649
0.116902140528

In [258]:
import numpy as np
np.sort(logistic.coef_[0])[-1]

print len(logistic.coef_[0])

381

In [273]:
c_p={}
for i in range(len(df_test_model.columns)):
    c_p[str(df_train_model.columns[i])] = abs(logistic.coef_[0][i])

In [275]:
from operator import itemgetter
sorted_d=sorted(c_p.items(), key=itemgetter(1))

In [282]:
sorted_d[-10:]

[('citizenship[T. Native- Born in Puerto Rico or U S Outlying]',
  1.6293648136111485),
 ('citizenship[T. Native- Born in the United States]', 1.6560947421414585),
 ('age', 1.6749252556703524),
 ('fill_inc_questionnaire_for_veterans_admin[T. Not in universe]',
  1.8021506339316886),
 ('fill_inc_questionnaire_for_veterans_admin[T. Yes]', 1.9021515979729247),
 ('detailed_industry_recode', 1.9021515979729247),
 ('detailed_occupation_recode', 2.2184839823284324),
 ('own_business_or_self_employed', 2.7303296020555345),
 ('veterans_benefits', 3.0176606859479649),
 ('year', 3.022768678851365)]

In [280]:
sorted_d

[('detailed_household_summary_in_household[T. Other relative of householder]',
  2.48692624257026e-05),
 ('detailed_household_summary_in_household[T. Nonrelative of householder]',
  2.6760336518954841e-05),
 ('detailed_household_summary_in_household[T. Householder]',
  4.2529435657099309e-05),
 ('detailed_household_summary_in_household[T. Group Quarters- Secondary individual]',
  6.2540630851576633e-05),
 ('detailed_household_summary_in_household[T. Child under 18 never married]',
  7.4210442144908992e-05),
 ('detailed_household_summary_in_household[T. Child under 18 ever married]',
  8.9604147219361381e-05),
 ('detailed_household_summary_in_household[T. Spouse of householder]',
  9.9325492929337175e-05),
 ('migration_code_change_in_msa[T. Abroad to MSA]', 0.00018029629791836344),
 ('detailed_household_and_family_stat[T. Spouse of householder]',
  0.00022021899694060748),
 ('detailed_household_and_family_stat[T. Spouse of RP of unrelated subfamily]',
  0.00023859698721968763),
 ('detailed_household_and_family_stat[T. Secondary individual]',
  0.00045972382066916282),
 ('migration_code_change_in_msa[T. Abroad to nonMSA]', 0.00058276325413939196),
 ('detailed_household_and_family_stat[T. RP of unrelated subfamily]',
  0.0023865346335666402),
 ('migration_code_change_in_msa[T. MSA to MSA]', 0.0027803824974882208),
 ('migration_code_change_in_msa[T. MSA to nonMSA]', 0.0039214501925340884),
 ('detailed_household_and_family_stat[T. Other Rel <18 spouse of subfamily RP]',
  0.0040093444421526623),
 ('detailed_household_and_family_stat[T. Other Rel <18 never married RP of subfamily]',
  0.004782570451259377),
 ('detailed_household_and_family_stat[T. Other Rel <18 never marr not in subfamily]',
  0.005741037141189319),
 ('migration_code_change_in_msa[T. NonMSA to MSA]', 0.0077844074096172743),
 ('detailed_household_and_family_stat[T. Other Rel <18 never marr child of subfamily RP]',
  0.0081901124056075348),
 ('detailed_household_and_family_stat[T. Other Rel <18 ever marr not in subfamily]',
  0.0097253554143935331),
 ('detailed_household_and_family_stat[T. Other Rel <18 ever marr RP of subfamily]',
  0.0098912265147982816),
 ('detailed_household_and_family_stat[T. Other Rel 18+ never marr RP of subfamily]',
  0.011803901364083748),
 ('detailed_household_and_family_stat[T. Other Rel 18+ never marr not in subfamily]',
  0.011803901364083748),
 ('detailed_household_and_family_stat[T. Other Rel 18+ spouse of subfamily RP]',
  0.011803901364083748),
 ('detailed_household_and_family_stat[T. Other Rel 18+ ever marr not in subfamily]',
  0.012512269591016355),
 ('detailed_household_and_family_stat[T. Other Rel 18+ ever marr RP of subfamily]',
  0.013045616740845133),
 ('migration_code_change_in_msa[T. NonMSA to nonMSA]', 0.013923087099264372),
 ('detailed_household_and_family_stat[T. Nonfamily householder]',
  0.014626459621348536),
 ('migration_code_change_in_msa[T. Not identifiable]', 0.017375692847366207),
 ('migration_code_change_in_msa[T. Nonmover]', 0.017375692847366207),
 ('detailed_household_and_family_stat[T. In group quarters]',
  0.018657751665378301),
 ('detailed_household_and_family_stat[T. Householder]', 0.019179182436192641),
 ('detailed_household_and_family_stat[T. Grandchild <18 never marr not in subfamily]',
  0.021292582925988294),
 ('detailed_household_and_family_stat[T. Grandchild <18 never marr RP of subfamily]',
  0.021929060598900176),
 ('detailed_household_and_family_stat[T. Grandchild <18 never marr child of subfamily RP]',
  0.021929060598900176),
 ('detailed_household_and_family_stat[T. Grandchild <18 ever marr not in subfamily]',
  0.022119552110073912),
 ('detailed_household_and_family_stat[T. Grandchild 18+ spouse of subfamily RP]',
  0.023831268582226225),
 ('migration_code_change_in_msa[T. Not in universe]', 0.02396821024120167),
 ('migration_code_change_in_reg[T. Abroad]', 0.024400097671883118),
 ('detailed_household_and_family_stat[T. Grandchild 18+ never marr not in subfamily]',
  0.025025702582818991),
 ('detailed_household_and_family_stat[T. Grandchild 18+ never marr RP of subfamily]',
  0.025378386218420191),
 ('migration_code_change_in_reg[T. Different county same state]',
  0.025401868201094809),
 ('migration_code_change_in_reg[T. Different division same region]',
  0.027781473677073915),
 ('detailed_household_and_family_stat[T. Grandchild 18+ ever marr not in subfamily]',
  0.028509658077649672),
 ('detailed_household_and_family_stat[T. Grandchild 18+ ever marr RP of subfamily]',
  0.028639340339801769),
 ('detailed_household_and_family_stat[T. Child under 18 of RP of unrel subfamily]',
  0.029089185630243319),
 ('detailed_household_and_family_stat[T. Child <18 spouse of subfamily RP]',
  0.030611283060617566),
 ('detailed_household_and_family_stat[T. Child <18 never marr not in subfamily]',
  0.030644830441509334),
 ('detailed_household_and_family_stat[T. Child <18 never marr RP of subfamily]',
  0.031005277012864429),
 ('migration_code_change_in_reg[T. Different region]', 0.031139287780676317),
 ('detailed_household_and_family_stat[T. Child <18 ever marr not in subfamily]',
  0.031446283048825678),
 ('migration_code_change_in_reg[T. Different state same division]',
  0.033159865362871591),
 ('detailed_household_and_family_stat[T. Child <18 ever marr RP of subfamily]',
  0.036112316834239634),
 ('detailed_household_and_family_stat[T. Child 18+ spouse of subfamily RP]',
  0.036604088656470371),
 ('detailed_household_and_family_stat[T. Child 18+ never marr RP of subfamily]',
  0.037588843243764838),
 ('migration_code_change_in_reg[T. Nonmover]', 0.037740499927278529),
 ('migration_code_change_in_reg[T. Not in universe]', 0.0382774710067732),
 ('migration_code_change_in_reg[T. Same county]', 0.039764557536950643),
 ('migration_code_move_within_reg[T. Abroad]', 0.039764557536950643),
 ('migration_code_move_within_reg[T. Different county same state]',
  0.03997955518145066),
 ('migration_code_move_within_reg[T. Different state in Midwest]',
  0.040033441675773426),
 ('detailed_household_and_family_stat[T. Child 18+ never marr Not in a subfamily]',
  0.043541011691231833),
 ('detailed_household_and_family_stat[T. Child 18+ ever marr RP of subfamily]',
  0.046065921807975058),
 ('state_of_previous_residence[T. Wyoming]', 0.04646508328066723),
 ('migration_code_move_within_reg[T. Different state in Northeast]',
  0.04676675907055252),
 ('state_of_previous_residence[T. Wisconsin]', 0.048927164505393632),
 ('migration_code_move_within_reg[T. Different state in South]',
  0.053300100277387741),
 ('migration_code_move_within_reg[T. Different state in West]',
  0.054343750858397634),
 ('state_of_previous_residence[T. West Virginia]', 0.054377083397170393),
 ('state_of_previous_residence[T. Virginia]', 0.054568542627327361),
 ('migration_code_move_within_reg[T. Nonmover]', 0.05538505606982233),
 ('migration_code_move_within_reg[T. Not in universe]', 0.061464610712233837),
 ('migration_code_move_within_reg[T. Same county]', 0.062052087905581102),
 ('live_in_this_house_1_year_ago[T. Not in universe under 1 year old]',
  0.064092867337563364),
 ('state_of_previous_residence[T. Vermont]', 0.066583124635281363),
 ('live_in_this_house_1_year_ago[T. Yes]', 0.06820934320455016),
 ('migration_prev_res_in_sunbelt[T. No]', 0.071681593442651612),
 ('state_of_previous_residence[T. Utah]', 0.074146608234933603),
 ('state_of_previous_residence[T. Texas]', 0.076779570835509584),
 ('state_of_previous_residence[T. Tennessee]', 0.07680578607010477),
 ('migration_prev_res_in_sunbelt[T. Not in universe]', 0.078212813049685317),
 ('migration_prev_res_in_sunbelt[T. Yes]', 0.079665264016371334),
 ('state_of_previous_residence[T. South Dakota]', 0.080936164901051655),
 ('family_members_under_18[T. Father only present]', 0.084945195014320227),
 ('family_members_under_18[T. Mother only present]', 0.085789837447561024),
 ('state_of_previous_residence[T. South Carolina]', 0.085824847092003692),
 ('state_of_previous_residence[T. Pennsylvania]', 0.090504877841539627),
 ('state_of_previous_residence[T. Oregon]', 0.091504999602027348),
 ('state_of_previous_residence[T. Oklahoma]', 0.093049593925253582),
 ('state_of_previous_residence[T. Ohio]', 0.09446225244421777),
 ('state_of_previous_residence[T. Not in universe]', 0.09458386982302748),
 ('state_of_previous_residence[T. North Dakota]', 0.096478223126231236),
 ('state_of_previous_residence[T. North Carolina]', 0.098360278907603502),
 ('state_of_previous_residence[T. New York]', 0.09937132306476959),
 ('state_of_previous_residence[T. New Mexico]', 0.10021230240044419),
 ('state_of_previous_residence[T. New Jersey]', 0.10285029267534934),
 ('family_members_under_18[T. Neither parent present]', 0.10452909406432884),
 ('family_members_under_18[T. Not in universe]', 0.10460813997201389),
 ('country_of_birth_father[T. Cambodia]', 0.10482439384822004),
 ('country_of_birth_father[T. Canada]', 0.10585634870821453),
 ('state_of_previous_residence[T. New Hampshire]', 0.10644279566768691),
 ('country_of_birth_father[T. China]', 0.10842208405451394),
 ('state_of_previous_residence[T. Nevada]', 0.10947217661759326),
 ('state_of_previous_residence[T. Nebraska]', 0.1098424517816072),
 ('country_of_birth_father[T. Columbia]', 0.11021970440106449),
 ('state_of_previous_residence[T. Montana]', 0.11083756689088056),
 ('state_of_previous_residence[T. Missouri]', 0.11229429352495682),
 ('state_of_previous_residence[T. Mississippi]', 0.11292466763478877),
 ('country_of_birth_father[T. Cuba]', 0.11351882065943905),
 ('state_of_previous_residence[T. Minnesota]', 0.11420833471221026),
 ('state_of_previous_residence[T. Michigan]', 0.11513353184207374),
 ('state_of_previous_residence[T. Massachusetts]', 0.11521032323271466),
 ('state_of_previous_residence[T. Maryland]', 0.11624744785157665),
 ('country_of_birth_father[T. Dominican-Republic]', 0.12011491391961837),
 ('country_of_birth_father[T. England]', 0.12022598542117581),
 ('country_of_birth_father[T. El-Salvador]', 0.12022598542117581),
 ('country_of_birth_father[T. France]', 0.12022598542117581),
 ('country_of_birth_father[T. Ecuador]', 0.12022598542117581),
 ('country_of_birth_father[T. Germany]', 0.12069975213279928),
 ('state_of_previous_residence[T. Maine]', 0.12407221296258363),
 ('state_of_previous_residence[T. Louisiana]', 0.12414626043133287),
 ('state_of_previous_residence[T. Kentucky]', 0.12763173604918035),
 ('country_of_birth_father[T. Greece]', 0.12875420736231782),
 ('country_of_birth_father[T. Guatemala]', 0.13051744437833962),
 ('state_of_previous_residence[T. Kansas]', 0.14103472697788227),
 ('state_of_previous_residence[T. Iowa]', 0.14207938324418024),
 ('state_of_previous_residence[T. Indiana]', 0.14231275414284264),
 ('state_of_previous_residence[T. Illinois]', 0.14292091065750914),
 ('state_of_previous_residence[T. Idaho]', 0.14567168048943571),
 ('state_of_previous_residence[T. Georgia]', 0.14586716356940965),
 ('country_of_birth_father[T. Haiti]', 0.14912044629638796),
 ('country_of_birth_father[T. Holand-Netherlands]', 0.15104134560997085),
 ('state_of_previous_residence[T. Florida]', 0.15167983907327162),
 ('country_of_birth_father[T. Honduras]', 0.15381782363859592),
 ('country_of_birth_father[T. Hong Kong]', 0.15684690146931887),
 ('state_of_previous_residence[T. District of Columbia]', 0.15797648160015954),
 ('state_of_previous_residence[T. Delaware]', 0.15961393112210417),
 ('country_of_birth_father[T. Hungary]', 0.16020506806841411),
 ('state_of_previous_residence[T. Connecticut]', 0.16044047933771516),
 ('state_of_previous_residence[T. Colorado]', 0.16392325468966631),
 ('country_of_birth_father[T. India]', 0.16666646344966243),
 ('country_of_birth_father[T. Iran]', 0.16704343404933808),
 ('state_of_previous_residence[T. California]', 0.16850258421185516),
 ('state_of_previous_residence[T. Arkansas]', 0.16909444438321192),
 ('state_of_previous_residence[T. Arizona]', 0.17080104920860556),
 ('state_of_previous_residence[T. Alaska]', 0.171249848957021),
 ('state_of_previous_residence[T. Alabama]', 0.17213602575837506),
 ('state_of_previous_residence[T. Abroad]', 0.17568735736982513),
 ('country_of_birth_father[T. Ireland]', 0.17660859053649072),
 ('country_of_birth_father[T. Italy]', 0.17752934536163717),
 ('region_of_previous_residence[T. West]', 0.17930591066941989),
 ('country_of_birth_father[T. Jamaica]', 0.18066076955662289),
 ('country_of_birth_father[T. Japan]', 0.18210385656992334),
 ('region_of_previous_residence[T. South]', 0.1838170942541055),
 ('region_of_previous_residence[T. Northeast]', 0.184654054661052),
 ('region_of_previous_residence[T. Not in universe]', 0.184654054661052),
 ('country_of_birth_father[T. Laos]', 0.18513296303373789),
 ('country_of_birth_father[T. Mexico]', 0.18585693114576388),
 ('region_of_previous_residence[T. Midwest]', 0.18749659897773607),
 ('tax_filer_stat[T. Single]', 0.18798756181329085),
 ('tax_filer_stat[T. Nonfiler]', 0.18828868556674797),
 ('tax_filer_stat[T. Joint one under 65 & one 65+]', 0.18836253596652117),
 ('tax_filer_stat[T. Joint both under 65]', 0.18932309931152563),
 ('country_of_birth_father[T. Nicaragua]', 0.19173849258400832),
 ('tax_filer_stat[T. Joint both 65+]', 0.19618721208825404),
 ('full_or_part_time_employment_stat[T. Unemployed part- time]',
  0.19767765481660357),
 ('full_or_part_time_employment_stat[T. Unemployed full-time]',
  0.2025631221275096),
 ('full_or_part_time_employment_stat[T. PT for non-econ reasons usually FT]',
  0.20342592619715483),
 ('full_or_part_time_employment_stat[T. PT for econ reasons usually PT]',
  0.20420689272584175),
 ('country_of_birth_father[T. Outlying-U S (Guam USVI etc)]',
  0.20481339949665844),
 ('full_or_part_time_employment_stat[T. PT for econ reasons usually FT]',
  0.20669817891376827),
 ('country_of_birth_father[T. Panama]', 0.20734121165054686),
 ('full_or_part_time_employment_stat[T. Not in labor force]',
  0.20739641650398197),
 ('full_or_part_time_employment_stat[T. Full-time schedules]',
  0.21092293033463588),
 ('country_of_birth_father[T. Peru]', 0.21123995763933681),
 ('country_of_birth_father[T. Philippines]', 0.21377020037843553),
 ('reason_for_unemployment[T. Re-entrant]', 0.21734120461366613),
 ('country_of_birth_father[T. Poland]', 0.22034545045447326),
 ('country_of_birth_father[T. Portugal]', 0.22187009821074763),
 ('reason_for_unemployment[T. Other job loser]', 0.22471777079400801),
 ('country_of_birth_father[T. Puerto-Rico]', 0.22516262326805661),
 ('country_of_birth_father[T. Scotland]', 0.22590197711216267),
 ('reason_for_unemployment[T. Not in universe]', 0.22734951232179526),
 ('reason_for_unemployment[T. New entrant]', 0.22869637176664254),
 ('reason_for_unemployment[T. Job loser - on layoff]', 0.23051506823573181),
 ('country_of_birth_father[T. South Korea]', 0.23241791151370214),
 ('member_of_a_labor_union[T. Yes]', 0.2340340116007944),
 ('country_of_birth_father[T. Taiwan]', 0.23646799968223298),
 ('country_of_birth_father[T. Thailand]', 0.23765895160062145),
 ('member_of_a_labor_union[T. Not in universe]', 0.23863739068365908),
 ('country_of_birth_father[T. Trinadad&Tobago]', 0.23955430760257798),
 ('country_of_birth_father[T. United-States]', 0.24501396603945452),
 ('sex[T. Male]', 0.2548445115900696),
 ('country_of_birth_father[T. Vietnam]', 0.25485608240156876),
 ('hispanic_origin[T. Puerto Rican]', 0.25628500391099385),
 ('country_of_birth_father[T. Yugoslavia]', 0.25680079406971157),
 ('hispanic_origin[T. NA]', 0.25892940314963214),
 ('hispanic_origin[T. Other Spanish]', 0.25892940314963214),
 ('hispanic_origin[T. Mexican-American]', 0.26162772570935766),
 ('country_of_birth_mother[T. Cambodia]', 0.26225942502787875),
 ('country_of_birth_mother[T. Canada]', 0.26843198427277848),
 ('hispanic_origin[T. Mexican (Mexicano)]', 0.26882246387152503),
 ('country_of_birth_mother[T. China]', 0.27074148958379307),
 ('country_of_birth_mother[T. Columbia]', 0.273495934490048),
 ('country_of_birth_mother[T. Cuba]', 0.2745449579126335),
 ('country_of_birth_mother[T. Dominican-Republic]', 0.2796208824830852),
 ('country_of_birth_mother[T. Ecuador]', 0.28092606347633581),
 ('country_of_birth_mother[T. El-Salvador]', 0.28112332329170464),
 ('hispanic_origin[T. Do not know]', 0.28217905938483745),
 ('hispanic_origin[T. Cuban]', 0.28407496562570522),
 ('hispanic_origin[T. Chicano]', 0.28758043441379877),
 ('hispanic_origin[T. Central or South American]', 0.29318625395154418),
 ('country_of_birth_mother[T. England]', 0.29401313429202391),
 ('race[T. White]', 0.29620184628122437),
 ('race[T. Other]', 0.30179570073933198),
 ('country_of_birth_mother[T. France]', 0.30218764326127279),
 ('country_of_birth_mother[T. Germany]', 0.30230616598760174),
 ('country_of_birth_mother[T. Greece]', 0.30495141794495162),
 ('race[T. Black]', 0.30621150887882415),
 ('race[T. Asian or Pacific Islander]', 0.3063461277325093),
 ('country_of_birth_mother[T. Guatemala]', 0.30664238714329356),
 ('major_occupation_code[T. Transportation and material moving]',
  0.30676519100085103),
 ('major_occupation_code[T. Technicians and related support]',
  0.30958619604725923),
 ('major_occupation_code[T. Sales]', 0.31096643414959713),
 ('major_occupation_code[T. Protective services]', 0.31327457111800977),
 ('major_occupation_code[T. Professional specialty]', 0.31563751703358034),
 ('country_of_birth_mother[T. Haiti]', 0.31901472107441131),
 ('major_occupation_code[T. Private household services]', 0.31937416259110268),
 ('major_occupation_code[T. Precision production craft & repair]',
  0.31953643112928942),
 ('country_of_birth_mother[T. Holand-Netherlands]', 0.32694326659617506),
 ('country_of_birth_mother[T. Honduras]', 0.32982465657923343),
 ('major_occupation_code[T. Other service]', 0.32984517860675333),
 ('country_of_birth_mother[T. Hong Kong]', 0.33018324993199832),
 ('country_of_birth_mother[T. Hungary]', 0.33067144100743723),
 ('major_occupation_code[T. Not in universe]', 0.33116459608487148),
 ('major_occupation_code[T. Machine operators assmblrs & inspctrs]',
  0.33547857076941356),
 ('country_of_birth_mother[T. India]', 0.33634623057022084),
 ('country_of_birth_mother[T. Iran]', 0.3366914568832684),
 ('major_occupation_code[T. Handlers equip cleaners etc ]',
  0.33704949192524153),
 ('major_occupation_code[T. Farming forestry and fishing]',
  0.33839051555293714),
 ('country_of_birth_mother[T. Ireland]', 0.3397985651198433),
 ('country_of_birth_mother[T. Italy]', 0.34681499552799216),
 ('major_occupation_code[T. Executive admin and managerial]',
  0.34689528238894773),
 ('major_occupation_code[T. Armed Forces]', 0.34835302462500828),
 ('major_industry_code[T. Wholesale trade]', 0.34898609359110633),
 ('country_of_birth_mother[T. Jamaica]', 0.34930173484525034),
 ('major_industry_code[T. Utilities and sanitary services]',
  0.34989034714607287),
 ('country_of_birth_mother[T. Japan]', 0.35026084506581839),
 ('major_industry_code[T. Transportation]', 0.35092662554766318),
 ('major_industry_code[T. Social services]', 0.35979594949118621),
 ('major_industry_code[T. Retail trade]', 0.36057958491348668),
 ('country_of_birth_mother[T. Laos]', 0.36140222397125221),
 ('country_of_birth_mother[T. Mexico]', 0.3618136782642995),
 ('major_industry_code[T. Public administration]', 0.36653555361341245),
 ('major_industry_code[T. Private household services]', 0.36735745521667257),
 ('major_industry_code[T. Personal services except private HH]',
  0.37269556745900201),
 ('major_industry_code[T. Other professional services]', 0.37376016438114562),
 ('major_industry_code[T. Not in universe or children]', 0.37654142928906542),
 ('country_of_birth_mother[T. Nicaragua]', 0.38059146348573525),
 ('country_of_birth_mother[T. Outlying-U S (Guam USVI etc)]',
  0.38582259475177361),
 ('major_industry_code[T. Mining]', 0.38611856874941808),
 ('country_of_birth_mother[T. Panama]', 0.38688184639712853),
 ('country_of_birth_mother[T. Peru]', 0.39260378255367967),
 ('country_of_birth_mother[T. Philippines]', 0.3926593947351642),

In [127]:
for  c in df_train_cat.columns:
    if c not in df_test_cat.columns:
        print c

detailed_household_and_family_stat[T. Grandchild <18 ever marr not in subfamily]

In [197]:
print df_train_model.columns
#print df_test_model.shape

Index([u'age', u'wage_per_hour', u'capital_gains', u'capital_losses',
       u'dividends_from_stocks', u'num_persons_worked_for_employer',
       u'weeks_worked_in_year', u'class_of_worker[ Federal government]',
       u'class_of_worker[ Local government]',
       u'class_of_worker[ Never worked]',
       ...
       u'citizenship[T. Native- Born abroad of American Parent(s)]',
       u'citizenship[T. Native- Born in Puerto Rico or U S Outlying]',
       u'citizenship[T. Native- Born in the United States]',
       u'fill_inc_questionnaire_for_veterans_admin[T. Not in universe]',
       u'fill_inc_questionnaire_for_veterans_admin[T. Yes]',
       u'detailed_industry_recode', u'detailed_occupation_recode',
       u'own_business_or_self_employed', u'veterans_benefits', u'year'],
      dtype='object', length=381)

In [59]:
from sklearn.feature_selection import SelectPercentile
from sklearn.feature_selection import chi2

Y = df_train['income_bucket']
X = df_train_model

In [70]:
ss=SelectPercentile(chi2,percentile=5)

In [71]:
X_new=ss.fit_transform(X,Y)

In [100]:
used_columns = df_train_model.columns[ss.get_support()]

In [102]:
df_train_model[used_columns].head()

,age,wage_per_hour,capital_gains,capital_losses,dividends_from_stocks,num_persons_worked_for_employer,weeks_worked_in_year,education[T. Bachelors degree(BA AB BS)],education[T. Masters degree(MA MS MEng MEd MSW MBA)],education[T. Prof school degree (MD DDS DVM LLB JD)],major_industry_code[T. Not in universe or children],major_occupation_code[T. Executive admin and managerial],major_occupation_code[T. Professional specialty],tax_filer_stat[T. Joint both under 65],tax_filer_stat[T. Nonfiler],detailed_household_and_family_stat[T. Householder],detailed_household_summary_in_household[T. Householder],income_bucket[T. 50000+.],detailed_industry_recode
0,73,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,58,0,0,0,0,1,52,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,4.0
2,18,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,9,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,10,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [104]:
X_new[0] == df_train_model[used_columns].iloc[0]

age                                                         True
wage_per_hour                                               True
capital_gains                                               True
capital_losses                                              True
dividends_from_stocks                                       True
num_persons_worked_for_employer                             True
weeks_worked_in_year                                        True
education[T. Bachelors degree(BA AB BS)]                    True
education[T. Masters degree(MA MS MEng MEd MSW MBA)]        True
education[T. Prof school degree (MD DDS DVM LLB JD)]        True
major_industry_code[T. Not in universe or children]         True
major_occupation_code[T. Executive admin and managerial]    True
major_occupation_code[T. Professional specialty]            True
tax_filer_stat[T. Joint both under 65]                      True
tax_filer_stat[T. Nonfiler]                                 True
detailed_household_and_family_stat[T. Householder]          True
detailed_household_summary_in_household[T. Householder]     True
income_bucket[T. 50000+.]                                   True
detailed_industry_recode                                    True
Name: 0, dtype: bool

In [198]:
X_new.shape

(199523, 19)